extends layout/base.pug

block append styles
    link(rel='stylesheet', href='/css/housing.css')

block content
    h1.text-center Search for Housing
    article.columns.small-12.medium-9.medium-push-3
        #map
    aside.columns.small-12.medium-3.medium-pull-9
        h3 Narrow your Search
        label
            | Location:
            input#location(type="text")
        label
            | Maximum Monthly Rent:
            .input-group
                span.input-group-label $
                input#max-monthly-rent.input-group-field(type="number" value="" step="100")
        label
            | Start Date:
            input#start-date(type="date")
        label
            | End Date:
            input#end-date(type="date")

block append scripts
    script(src='/js/housing.js')
    script(src='/bower_components/js-marker-clusterer/src/markerclusterer.js')
    script(async, defer, src=`https://maps.googleapis.com/maps/api/js?key=${mapsApiKey}&callback=initMap`)
