extends layout/base.pug

block content
    article.columns.small-12.medium-9
        h1.text-center Welcome to #{title}!
        p
            | Spring Board is...
    aside.columns.small-12.medium-3
        h5 Recent Listings
        p
            | TODO
        h5 Recent Job Openings
        p
            | TODO
        h5 Additional Links
        ul
            li
                a(href='http://portal.hud.gov/hudportal/HUD')
                    | U.S. Department of Housing and Urban Development
            li
                a Resources
