extends layout/base.pug

block content
    article.columns.small-12.medium-9
        h1.text-center Welcome to #{title}!
        p
            | Spring Board is...
    aside.columns.small-12.medium-3
        h5 Upcoming Listings
        ul.no-bullet
            - for(let i = 0; i < listings.length; i++)
                - const listing = listings[i];
                li
                    a(href=`/housing/${listing.user_apartment_info_id}`)
                        | $
                        =listing.user_apartment_info_rent
                        | /m&nbsp;&ndash;&nbsp;
                        =listing.apartment_short_address
        h5 Recent Job Openings
        p
            | TODO
        h5 Additional Links
        ul
            li
                a(href='http://portal.hud.gov/hudportal/HUD')
                    | U.S. Department of Housing and Urban Development
            li
                a Resources
