extends layout/base.pug

block content
    article.columns.small-12.medium-9.text-center
        h2 Coming Soon...
        p Look for training programs shortly.
        img(src="/img/logo.png")
    aside.columns.small-12.medium-3
        h5 Links
        ul
            li
                a(href='http://portal.hud.gov/hudportal/HUD?src=/program_offices/comm_planning/library/relocation/training')
                    | HUD Training
