footer
    .row
        .columns.small-12.medium-6
            h5 About
            | SpringBoard is created by Steven Roberts and Mahesh Narayanamurthi
            | for the PivotPoint16 Hackathon.
        .columns.small-6.medium-3
            h5 Keep in Touch
            ul.no-bullet
                li
                    a
                        i.fa.fa-twitter
                        |  Twitter
                li
                    a
                        i.fa.fa-facebook-square
                        |  Facebook
                li
                    a
                        i.fa.fa-envelope
                        |  Email
                li
                    a
                        i.fa.fa-github
                        |  Github

        .columns.small-6.medium-3
            h5 Legal
            ul.no-bullet
                li
                    a Terms of Use
                li
                    a Privacy Policy
                li
                    a Disputes

    .row.expanded.secondary.text-center
        small
            | Copyright 2016
